/********* RESPONSIVE ********/
/*************************/
@media (max-width: 768px) {


    .main__contenido,
    .contacto {
        width: 320px;
        margin: 2.5rem 10px 0 10px;
    }

    /********* AGRUPADOS ********/



    .perfil__title span,
    .exp__title span,
    .proyectos__title span {
        font-size: 24px;
        font-weight: normal;
    }

    .saludo__text,
    .perfil__text,
    .exp__text {
        font-size: 16px;
    }

    .saludo__title,
    .saludo__subtitle{
        font-size: 40px;
    }

    .perfil__title,
    .exp__title,
    .proyectos__title {
        font-size: 26px;
    }

    .perfil__text span,
    .exp__text span {
        font-size: 16px;
    }


    /********* NAV ********/
    .logo {
        display: none;
    }

    .nav__items {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #112240;
        margin: 0;
        display: none;
    }

    .nav__item {
        cursor: pointer;
        padding: 0.5rem;
        width: 100%;
    }

    .nav__item__link {
        margin: 0 auto;
    }

    .nav__item:hover {
        background-color: var(--gris-azul);
    }

    .ham {
        position: absolute;
        top: 10px;
        right: 35px;
        display: block;
    }

    .nav__descarga {
        margin: 0 auto;
    }



    /**SALUDO**/
    .saludo {
        margin: 0;
        width: 370px;
    }



    .saludo__img {
        width: 250px;
    }

    /**PERFIL**/
    .linea--perfil{
        width: 140px;
    }

    /**EXPERIENCIA**/
    .exp {
        margin-top: 5rem;

    }

    .exp__card {
        width: 320px;

    }

    .exp__tecnologias {
        column-gap: 15px;
        row-gap: 25px;
    }

    .exp__tecnologias div p {
        font-size: 16px;
        font-weight: 600;
        padding-left: 5px;
    }

    .exp__tecnologias img {
        width: 16px;

    }

    .linea--exp {
        width: 60px
    }

    /**PROYECTOS**/
    .proyectos {
        width: 370px
    }
    .linea--proyectos{
        width: 120px;
    }
    .contenedor__cards {
        display: flex;
        flex-direction: column;
    }

    .proyecto___card h2 {
        font-size: 20px;

    }

    .proyecto___card p {
        font-size: 16px;

    }

    .nav__items.activado {
        display: flex;
    }

    /**CONTACTO**/
    .contacto__title {
        font-size: 30px;
    }

    .contacto__subtitle {
        font-size: 20px;
    }

    .contacto__text {
        width: 300px;
        text-align: center;
        font-size: 16px;
    }
}