/********* RESPONSIVE ********/
/*************************/
@media (max-width: 768px) {


    .logo {
        display: none;
    }

    .nav__items {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #112240;
        margin: 0;
        display: none;
    }

    .nav__item {
        cursor: pointer;
        padding: 0.5rem;
        width: 100%;
    }

    .nav__item__link {
        margin: 0 auto;
    }

    .nav__item:hover {
        background-color: var(--gris-azul);
    }

    .ham {
        position: absolute;
        top: 10px;
        right: 35px;
        display: block;
    }

    .nav__descarga {
        margin: 0 auto;
    }

    .main__contenido {
        margin-top: 2.5rem;
        width: 370px;
    }

    .saludo {
        margin: 0;
        width: 370px;
    }

    .saludo__text,
    .perfil__text,
    .exp__text {
        font-size: 16px;
    }

    .saludo__title,
    .saludo__subtitle,
    .contacto__title {
        font-size: 40px;
    }

    .perfil__title,
    .exp__title,
    .proyectos__title {
        font-size: 26px;
    }

    .perfil__text span,
    .exp__text span {
        font-size: 16px;
    }


    .saludo__img {
        width: 250px;
    }

    .perfil {
        width: 370px;
    }


    .exp {
        width: 370px;
    }
    .linea--exp{
        width: 130px;
    }

    .proyectos {
        width: 370px
    }

    .contenedor__cards {
        display: flex;
        flex-direction: column;
    }

    .proyecto___card h2 {
        font-size: 20px;

    }

    .proyecto___card p {
        font-size: 16px;

    }



    .nav__items.activado {
        display: flex;
    }
}