/********* saludo **********/
.saludo {
    display: flex;
    flex-direction: column;

    margin-top: 1.875;
}

.saludo__text--inicial {
    font-family: 'Fira Code', monospace;

}

.saludo__title {
    color: var(--blanco-celeste);
    font-size: 5rem;
    font-weight: 600;
    margin: 0 0 2rem 1rem;
}

.saludo__subtitle {
    color: var(--gris-azul);
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 2rem 1rem;

}

.saludo__text {
    width: 90%;
    color: var(--verde-agua);
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 3rem 1rem;
    line-height: 1.5;
}

.saludo__text--gris {
    color: var(--gris-azul)
}

.saludo__img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

