:root {
    --azul-oscuro: #0A192F;
    --verde-agua: #5FF4D2;
    --blanco-celeste: #CCD6F6;
    --gris-azul: #8892B0;
    --margin-bottom: 1rem;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--azul-oscuro);
    color: crimson;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



/********* MAIN **********/
/*************************/
.main__contenido {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}








