:root {
    --azul-oscuro: #0A192F;
    --verde-agua: #5FF4D2;
    --blanco-celeste: #CCD6F6;
    --gris-azul: #8892B0;
    --margin-bottom: 1rem;
    font-size: 16px;
}


body {
    font-family: 'Fira Code', monospace;
    background-color: var(--azul-oscuro);
}

.container {
    display: grid;
    height: 100vh;
    grid-auto-flow: column;
    align-items: stretch;
}


/*************************/
/********* HEADER ********/
/*************************/

.nav__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__item__link {
    text-decoration: none;
    color: var(--blanco-celeste);
}

/*************************/
/********* MAIN ********/
/*************************/
.main__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.saludo__text {
    color: var(--verde-agua);
    margin-bottom: 0.75rem;
    margin-bottom: var(--margin-bottom);
}

.saludo__title {
    color: var(--blanco-celeste);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: var(--margin-bottom);
}

.saludo__subtitle {
    color: var(--gris-azul);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: var(--margin-bottom);

}

.saludo__img {
    display: block;
    margin: 0 auto;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hola {
    display: flex;
}

.perfil__title span,
.exp__title span,
.proyectos__title span {
    color: var(--verde-agua);
    font-size: 1.2rem;
    font-weight: 400;
}

.perfil__title,
.exp__title,
.proyectos__title {
    color: var(--blanco-celeste);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.perfil__img {
    width: 127px;
    height: 126px;
}